.chatFooter {
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #091025;
}

.searchBox {
  background-color: #080D1E;
  border-radius: 10px;
  height: 60px;
  width: 730px;
  display: flex;
  flex-direction: row;
}

.smiles {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px 0 6px;
  color: #cccccc;
  font-weight: lighter;
}

.inputField {
  textarea {
    width: 600px;
    height: 50%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    color: #cccccc;
    padding: 20px 10px 5px 10px;
    resize: none;
  }
  input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
}

.sendButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 6px;
  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #091025;
    color: #2fadff;
    font-size: 23px;
    border: solid 2px #16094f;
  }
}